# Banco de dados SQLite
#instance/expedicao_1.db

# Arquivos de migração
migrations/

# Cache do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Configurações locais
.env
*.env

# Arquivos temporários
*.tmp
*.swp
*.bak

# Build e distribuição
build/
dist/
*.egg-info/

# PyInstaller
*.spec

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# VSCode e IDEs
.vscode/
.idea/
